.dayContainer {
  width: 100%;
  position: relative;
  min-height: 94px;
  border: 1px solid rgba(220, 227, 229, 0.5);
}
.dayContainer:hover,
.dayContainer:focus {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
@media screen and (min-width: 768px) {
  .dayContainer {
    min-height: 144px;
  }
}
@media screen and (min-width: 1200px) {
  .dayContainer {
    min-height: 125px;
  }
}
.numberContainer {
  position: absolute;
  top: 8px;
  right: 4px;
  border-radius: 8px;
  padding: 4px 8px;
}
@media screen and (min-width: 768px) {
  .numberContainer {
    top: 18px;
    right: 22px;
  }
}
@media screen and (min-width: 1200px) {
  .numberContainer {
    top: 14px;
    right: 14px;
  }
}
.link {
  width: 100%;
  height: 100%;
}
.true {
  position: absolute;
  top: 8px;
  right: 4px;
  border-radius: 8px;
  padding: 4px 8px;
  background-color: var(--nav-button-color-hover);
}
.false {
  font-family: 'Inter';
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}
.day {
  font-family: 'Inter';
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--sidebar-background-color);
}
.taskContainer {
  width: 100%;
  height: 72px;
  position: absolute;
  top: 48px;
  overflow: scroll;
}
@media screen and (min-width: 768px) {
  .taskContainer {
    height: 100px;
    top: 58px;
  }
}
@media screen and (min-width: 1200px) {
  .taskContainer {
    overflow: auto;
    top: 67px;
  }
}
.taskList {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.taskItem {
  margin: 2px;
  height: 22px;
  padding: 4px 4px 4px 8px;
  display: flex;
  line-height: 1.4;
  text-align: start;
  border-radius: 8px;
  font-weight: 700;
  font-size: 10px;
}
@media screen and (min-width: 768px) {
  .taskItem {
    font-size: 14px;
  }
}
.low {
  color: var(--nav-button-color-hover);
  background-color: #ceeefd;
}
.medium {
  color: #f3b249;
  background-color: #fcf0d4;
}
.hard {
  color: #ea3d65;
  background-color: #ffd2dd;
}
