@media (max-width: 767px) {
  .modal_form {
    width: 303px;
    padding-top: 8px;
  }

  .error {
    position: absolute;

    font-size: 12px;
    line-height: 14px;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    color: #da1414;
    top: 72px;
    left: 26px;
    z-index: 10;
  }
  .error_time {
    /* position: absolute; */

    font-size: 12px;
    line-height: 14px;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    color: #da1414;
    top: 72px;
    left: 26px;
    z-index: 10;
  }

  .box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    isolation: isolate;
    margin-bottom: 16px;
  }

  .box_time {
    display: flex;
    gap: 15px;
  }

  .label {
    color: rgba(52, 52, 52, 0.8);
    font-size: 12px;

    font-weight: 500;
    line-height: 14px;
  }

  .field {
    background: var(--feedback-background-input);
    width: 100%;
    height: 46px;
    border-radius: 8px;
    border: none;

    font-size: 14px;
    line-height: 129%;
    color: var(--primary-text-color);
    padding-left: 14px;
    outline-color: black;
  }

  .box_btn {
    display: flex;
    gap: 14px;
  }

  .button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-style: none;
    margin-top: 32px;
    width: 100%;
    height: 46px;
    background: #3e85f3;
    box-shadow: 4px 2px 16px rgba(136, 165, 191, 0.48);
    border-radius: 16px;

    font-weight: 600;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.02em;
    color: var(--sidebar-background-color);
    transition: background-color var(--animation-cubic);
  }
  .button:hover {
    background-color: var(--button-color-hover);
  }

  .button_close {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-style: none;
    margin-top: 32px;
    width: 100%;
    height: 46px;
    background: var(--feedback-background-input);
    box-shadow: 4px 2px 16px rgba(136, 165, 191, 0.48);
    border-radius: 16px;

    font-weight: 600;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.02em;
    color: var(--close-btn-color);
    transition: background-color var(--animation-cubic),
      color var(--animation-cubic);
  }

  .button_close:hover {
    background-color: var(--button-color-hover);
    color: var(--sidebar-background-color);
  }

  .icon_close {
    cursor: pointer;
    position: absolute;
    right: 14px;
    top: 14px;
    z-index: 10;
    border: none;
    background-color: inherit;
  }

  .icon {
    width: 24px;
    height: 24px;
  }

  .icon_plus {
    width: 20px;
    height: 20px;
  }

  .hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0px;
    padding: 0px;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0px, 0px, 0px, 0px);
    overflow: hidden;
  }

  .radio_group {
    display: flex;
    align-items: center;
  }

  .radio_group label {
    display: flex;
    align-items: center;
    margin-right: 10px;
    cursor: pointer;
  }

  .radio_button {
    cursor: pointer;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: relative;
    margin-right: 10px;
  }

  .radio_button::before {
    content: '';
    display: block;
    width: 9px;
    height: 9px;
    border: 1px solid var(--sidebar-background-color);
    border-radius: 50%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: all 0.2s ease-in-out;
  }

  .radio_button_low {
    background-color: var(--low-color);
  }

  .radio_button_medium {
    background-color: var(--medium-color);
  }

  .radio_button_high {
    background-color: var(--high-color);
  }

  .radio_group input[type='radio']:checked + .radio_button::before {
    transform: translate(-50%, -50%) scale(1.3);
  }

  .radio_group
    input[type='radio']:checked.radio_button_low
    + .radio_button::before {
    background-color: var(--low-color);
  }

  .radio_group
    input[type='radio']:checked.radio_button_medium
    + .radio_button::before {
    background-color: var(--medium-color);
  }

  .radio_group
    input[type='radio']:checked.radio_button_high
    + .radio_button::before {
    background-color: var(--high-color);
  }

  .radio_group input[type='radio']:checked + .radio_button {
    padding: 8px;
  }

  .radio_button:hover .radio_circle {
    border-color: #555;
  }

  .radio_button:hover input[type='radio']:checked + .radio_circle::before {
    background-color: #555;
  }

  .toolbar_svg {
    fill: transparent;
    stroke: var(--sidebar-background-color);
  }
}
@media (min-width: 768px) {
  .modal_form {
    width: 360px;
    padding-top: 8px;
  }

  .error {
    position: absolute;

    font-size: 12px;
    line-height: 14px;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    color: #da1414;
    top: 72px;
    left: 26px;
    z-index: 10;
  }
  .error_time {
    /* position: absolute; */

    font-size: 12px;
    line-height: 14px;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    color: #da1414;
    top: 72px;
    left: 26px;
    z-index: 10;
  }

  .box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    isolation: isolate;
    margin-bottom: 16px;
  }

  .box_time {
    display: flex;
    gap: 15px;
  }

  .label {
    color: rgba(52, 52, 52, 0.8);
    font-size: 12px;

    font-weight: 500;
    line-height: 14px;
  }

  .field {
    background: var(--feedback-background-input);
    width: 100%;
    height: 46px;
    border-radius: 8px;
    border: 1px solid rgba(220, 227, 229, 0.5);

    font-size: 14px;
    line-height: 129%;
    color: var(--primary-text-color);
    padding-left: 14px;
    outline-color: black;
  }

  .box_btn {
    display: flex;
    gap: 10px;
  }

  .button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-style: none;
    margin-top: 32px;
    width: 100%;
    height: 46px;
    box-shadow: 4px 2px 16px rgba(136, 165, 191, 0.48);
    border-radius: 16px;
    background: #3e85f3;
    font-weight: 600;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.02em;
    color: #fff;
  }

  .button:hover {
    background-color: var(--button-color-hover);
  }

  .button_close {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-style: none;
    margin-top: 32px;
    width: 100%;
    height: 46px;
    background: var(--feedback-background-input);
    box-shadow: 4px 2px 16px rgba(136, 165, 191, 0.48);
    border-radius: 16px;

    font-weight: 600;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.02em;
    color: var(--close-btn-color);
    transition: background-color var(--animation-cubic),
      color var(--animation-cubic);
  }

  .button_close:hover {
    background-color: var(--button-color-hover);
    color: var(--sidebar-background-color);
  }

  .icon_close {
    cursor: pointer;
    position: absolute;
    right: 14px;
    top: 14px;
    z-index: 10;
    border: none;
    background-color: inherit;
  }

  .icon {
    width: 24px;
    height: 24px;
    fill: var(--close-btn-color);
  }

  .icon_plus {
    width: 20px;
    height: 20px;
  }

  .hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0px;
    padding: 0px;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0px, 0px, 0px, 0px);
    overflow: hidden;
  }

  .radio_group {
    display: flex;
    align-items: center;
  }

  .radio_group label {
    display: flex;
    align-items: center;
    margin-right: 10px;
    cursor: pointer;
  }

  .radio_button {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: relative;
    margin-right: 6px;
  }

  .radio_button::before {
    content: '';
    display: block;
    width: 9px;
    height: 9px;
    border: 1px solid white;
    border-radius: 50%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: all 0.2s ease-in-out;
  }

  .radio_button_low {
    background-color: var(--low-color);
  }

  .radio_button_medium {
    background-color: var(--medium-color);
  }

  .radio_button_high {
    background-color: var(--high-color);
  }

  .radio_group input[type='radio']:checked + .radio_button::before {
    transform: translate(-50%, -50%) scale(1.3);
  }

  .radio_group
    input[type='radio']:checked.radio_button_low
    + .radio_button::before {
    background-color: var(--low-color);
  }

  .radio_group
    input[type='radio']:checked.radio_button_medium
    + .radio_button::before {
    background-color: var(--medium-color);
  }

  .radio_group
    input[type='radio']:checked.radio_button_high
    + .radio_button::before {
    background-color: var(--high-color);
  }

  .radio_group input[type='radio']:checked + .radio_button {
    padding: 8px;
  }

  .radio_button:hover .radio_circle {
    border-color: #555;
  }

  .radio_button:hover input[type='radio']:checked + .radio_circle::before {
    background-color: #555;
  }

  .toolbar_svg {
    fill: transparent;
    stroke: var(--sidebar-background-color);
    width: 18px;
    height: 18px;
  }
}
