
.icon {
  fill: var(--primary-text-color);
}

.group_period {
  display: flex;
  gap: 8px;
  /* justify-content: space-between; */
  width: 100%;

  @media screen and (min-width: 768px) {
    width: 260px;
    /* justify-content: space-between; */
  }
}

.period_view {
  height: 34px;
  padding: 6px 12px;
  border-radius: 8px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  outline: none;
  border: none;
  text-align: center;
  text-transform: uppercase;
  background-color: var(--color-button-period-type);
  color: #fff;
  cursor: pointer;

  :hover,
  :focus {
    box-shadow: 4px 2px 16px rgba(136, 165, 191, 0.48);
  }
}

.period_tabs {
  width: 38px;
  height: 34px;
  border: 1px solid rgba(220, 227, 229, 0.5);
  border-radius: 8px;
  background-color: var(--container-page-bacground);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: var(--animation-cubic);

  &:hover {
    box-shadow: inset 4px 2px 16px var(--shadow-btn);

  }
}

.period_tabs_container {
  display: flex;
  border-radius: 8px;
  overflow: hidden;
  margin-left: 20px;
}

.period_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 24px;
  gap: 18px;
  width: 100%;
  padding: 0 10px;
  
  @media screen and (min-width: 768px) {
    width: 100%;
    flex-wrap: no-wrap;
    margin-bottom: 32px;
    padding: 0;
  }

  
}

