.monthHeadList {
  width: 100%;
  height: 46px;
  border-radius: 8px;
  padding: 10px 10px 10px 40px;
  border: 1px solid rgba(220, 227, 229, 0.8);
  background-color: var(--container-page-bacground);
   display: flex;
  align-items: center;
  margin-bottom: 14px;
}



@media screen and (min-width: 768px) {
  .monthHeadList {
    margin-bottom: 18px;
    padding: 0 20px 0 80px;
  }
}
@media screen and (min-width: 1024px) {
  .monthHeadList {
    margin-bottom: 15px;
  }
}
.monthHeadItem {
  overflow: hidden;
  text-transform: uppercase;
  width: calc(100% / 7);
  @media screen and (min-width: 1024px) {
   
    /* width: $ {
      ({ day }) => {
        switch (day) {
          case'mon': return '15px';
          case'tue': return '10px';
          case'wed': return '16px';
          case'thu': return '11px';
          case'fri': return '10px';
          case'sat': return '10px';
          case'sun': return '10px';
          default: return '10px';
        }
      }
    }
  } */
  }
}
.monthHeadNamed {
  font-family: 'Inter';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.1;
  text-transform: capitalize;
  padding: 16px 0px;
  border: none;
  background-color: transparent;
}
@media screen and (min-width: 768px) {
  .monthHeadNamed {
    text-transform: uppercase;
    padding: 14px 0px;
  }
}
.monday,
.tuesday,
.wednesday,
.thursday,
.friday {
  color: var(--primary-text-color);
}
.sunday,
.saturday {
  color: var(--nav-button-color-hover);
}
