.user_page {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0 18px 0 18px;
  margin-top: 95px;
  margin-bottom: 38px;
  border-radius: 16px;
  background-color: var(--sidebar-background-color);
  @media screen and (min-width: 767px) {
    margin-top: 64px;
    display: flex;
    padding: 40px 175px 40px 175px;
  }
  @media screen and (min-width: 1200px) {
    padding: 60px 165px 60px 165px;
    margin-top: 32px;
  }
}
.user_page__avatar_container {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  justify-content: center;
  align-items: center;
  background-color: var(--sidebar-background-color);
  @media screen and (min-width: 767px) {
    position: relative;

    transform: none;
  }
}
.user_page__avatar_box {
  @media screen and (min-width: 767px) {
    position: relative;
  }
}
.user_page__avatar {
  position: relative;
  width: 72px;
  height: 72px;
  border: 2px solid var(--nav-button-color-hover);
  border-radius: 50%;
  object-fit: cover;
  left: 50%;
  top: 0%;
  transform: translate(-50%, -50%);
  z-index: 1;

  @media screen and (min-width: 767px) {
    position: relative;
    width: 124px;
    height: 124px;
    margin-bottom: 20px;
    transform: translate(-50%, 0);
  }
  @media screen and (min-width: 1200px) {
  }
}

.avatarWord {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #c3c3c3;
  font-family: var(--button-font);
  font-weight: 700;
  font-size: 40px;
  overflow: hidden;
  margin-top: 0;
  margin-bottom: 0;
  border: 1.8px solid #3e85f3;
  border-radius: 50%;
  width: 72px;
  height: 72px;
  position: relative;
  left: 0%;
  top: 0%;
  transform: translateY(-50%);
  @media screen and (min-width: 767px) {
    width: 124px;
    height: 124px;
    font-size: 70px;
    transform: translateY(0);
    margin-bottom: 20px;
  }
}
.avatar_upload_container {
  @media screen and (min-width: 767px) {
    position: relative;
  }
}
.avatar_upload_btn {
  position: absolute;
  width: 14px;
  height: 14px;
  left: 52%;
  z-index: 2;
  background-size: cover;
  margin: 20px 0 0 10px;
  background-image: url(./plus.svg);

  @media screen and (min-width: 767px) {
    width: 24px;
    height: 24px;
    top: 0;
    left: 40%;
      margin: 105px 0 0 25px;
    /* transform: translateX(50%); */

    background-repeat: no-repeat;
    /* background-position: center; */
    background-size: contain;
  }
}

.user_page__name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 18px;
  font-family: var(--button-font);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;

  color: var(--secondary-text-color);
  margin-bottom: 8px;
}
.user_page__role {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 14px;
  font-family: var(--button-font);
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  color: #616161;
  flex: none;
  order: 1;
  flex-grow: 0;
}
.username_form {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 1200px) {
  .username_form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px 50px;
    justify-content: center;
  }
}

.username_form__label {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
  font-family: var(--button-font);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: var(--primary-text-color);
}

.username_form_input {
  box-sizing: border-box;
  width: 100%;
  height: 42px;
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 14px 18px 14px 18px;
  border: 1px solid var(--modal-shadow-color);
  border-radius: 8px;
  font-family: var(--button-font);
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  background-color: var(--container-page-bacground);
  color: var(--primary-text-color);

  border: 1px solid var(--feedback-border-color);

  @media screen and (min-width: 1200px) {
    &:nth-of-type(1),
    &:nth-of-type(3) {
      margin-right: 50px;
    }
  }

  &.is_invalid {
    border: 2px solid red;
  }
}
.username_form_input:hover,
.username_form_input:focus {
  border: 2px solid #3e85f3;
  box-shadow: 4px 2px 16px rgba(78, 95, 109, 0.48);
  outline: none;
}

.username_form_input > :placeholder-shown {
  font-family: var(--button-font);
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  color: var(--log-text-color);
}

.username_form-input--last {
  margin-bottom: 0;
}
.username_form__submit {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  text-align: center;

  color: #fff;
  display: grid;
  grid-row: 5;
  justify-self: center;
  align-items: center;
  padding: 10px 20px;
  margin: 40px auto;
  isolation: isolate;

  width: 195px;
  height: 46px;

  background: var(--color-button-period-type);
  border-radius: 16px;
  border: none;

  grid-column-start: 1;
  grid-column-end: 3;
  &:disabled {
    opacity: 0.45;
  }

  cursor: pointer;

  &:hover {
    box-shadow: 4px 2px 16px rgba(15, 28, 39, 0.48);
  }
}

.username__form-submit:disabled {
  background-color: #84828a;
}

.invalid_feedback {
  color: var(--high-color);
  font-size: 12px;
}

.is_invalid {
  border-color: var(--high-color);
  color: var(--high-color);
}
.date_picker {
  width: 373px;
}
