:root {
    /* fonts */
    --secondary-font: 'Coolvetica', sans-serif;

    /* background colors */
    
    --primary-background-color: #F7F6F9;
    --secondary-background-color: #EAEAEA;
    --primary-text-color: #111111;
    --sidebar-background-color: #FFFFFF;

    /* icon month-day */
    --toggle-button-color: #DCEBF7;
    --toggle-button-color-active: #CAE8FF;
    
    /* Nav colors */

    --user-nav-button-color:  rgba(52, 52, 52, 0.5);
     --nav-button-color-hover: #3E85F3;
    --nav-background-hover: #E3F3FF;

}

[data-theme='dark'] {
    /* background colors */
    --secondary-background-color: #171820;
    --primary-background-color: #21222c;  
    --primary-text-color: #FFFFFF;
    --sidebar-background-color: #13151A;

    /* icon month-day */
    --toggle-button-color: #ffffff;
    --toggle-button-color-active: #21222C;

     /* Nav colors */  
    --user-nav-button-color: #FFFFFF;
    --nav-button-color-hover:#FFFFFF;
    --nav-background-hover: #3E85F3;
   
}