:root {
  /* fonts */
  --secondary-font: 'Coolvetica', sans-serif;

  /* background colors */
 
  --primary-background-color: #f7f6f9;
  --secondary-background-color: #eaeaea;

  --sidebar-background-color: #ffffff;

  /* text colors */
  --primary-text-color: #111111;
  --secondary-text-color: #343434;

  /* icon month-day */
  --toggle-button-color: #dcebf7;
  --toggle-button-color-active: #cae8ff;

  /* Nav colors */

  --nav-button-color: rgba(52, 52, 52, 0.5);
  --nav-button-color-hover: #3e85f3;
  --nav-button-background-hover: #e3f3ff;
  --button-color-hover: #2b78ef;

  /* Feedback modal */
 --feedback-background-input: #F6F6F6;
 --feedback-btnCancel-background: #dcebf7;
 --feedback-editBtn-background: #e3f3ff;
 --feedback-cancelMini-background: #facedd;
--feedback-border-color:  rgba(255, 255, 255, 0);
}

[data-theme='dark'] {
  /* background colors */
  --secondary-background-color: #171820;
  --primary-background-color: #21222c;
  --primary-text-color: #ffffff;
  --sidebar-background-color: #13151a;

  /* text colors */
  --primary-text-color: #ffffff;
  --secondary-text-color: #ffffff;

  /* icon month-day */
  --toggle-button-color: #ffffff;
  --toggle-button-color-active: #21222c;

  /* Nav colors */
  --nav-button-color: #ffffff;
  --nav-button-color-hover: #ffffff;
  --nav-button-background-hover: #3e85f3;

  /* Feedback modal */
  --feedback-background-input: #13151A;
  --feedback-btnCancel-background: #21222C;
  --feedback-editBtn-background: #353647;
  --feedback-cancelMini-background: #c08297;
  --feedback-border-color:   rgba(255, 255, 255, 0.15);
}
