@media (max-width: 767px) {
  .error_message {
    position: absolute;

    font-size: 12px;
    line-height: 14px;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    color: #da1414;
    top: 72px;
    left: 26px;
    z-index: 10;
  }

  .success_message {
    position: absolute;

    font-size: 12px;
    line-height: 14px;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    color: green;
    top: 72px;
    left: 26px;
    z-index: 10;
  }
  .main_container {
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: var(--toggle-button-color);
    justify-content: center;
    align-items: center;
  }

  .inside_container {
    background: #FFFFFF;
    border-radius: 8px;
    width: 375px;
    height: 388px;
    padding: 0 24px;
    margin: 0 20px;
  }

  .title {
    margin-top: 40px;

    color: var(--nav-button-color-hover);
    text-shadow: 0px 9.399999618530273px 57.6875px 0px rgba(0, 0, 0, 0.04),
      0px 47px 355px 0px rgba(0, 0, 0, 0.07);
    font-size: 18px;

    font-weight: 600;
    line-height: 24px;
    margin-bottom: 32px;
  }

  .email_box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    isolation: isolate;
    margin-bottom: 24px;
  }

  .password_box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    isolation: isolate;
  }

  .label_email {
    width: 32px;
    height: 15px;

    font-weight: 600;
    font-size: 12px;
    line-height: 15px;

    color: var(--log-text-color);

    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 0;
  }
  .label_email.error_label {
    color: #da1414;
  }

  .label_email.success_label {
    color: green;
  }

  .field {
    box-sizing: border-box;

    width: 100%;
    height: 46px;

    background-color: var(--sidebar-background-color);
    border: 1px solid rgba(220, 227, 229, 0.6);
    border-radius: 8px;

    flex: none;
    order: 1;
    flex-grow: 0;
    z-index: 1;

    font-size: 14px;
    line-height: 129%;

    color: var(--log-text-color);

    padding-left: 14px;

    outline-color: black;
  }

  .field.error {
    border: 1px solid #da1414;
  }

  .field.success {
    border: 1px solid green;
  }

  .button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border-style: none;
    margin-top: 10px;

    width: 100%;
    height: 46px;

    background: var(--log-btn-color);
    box-shadow: 4px 2px 16px rgba(136, 165, 191, 0.48);
    border-radius: 16px;

    font-weight: 600;
    font-size: 14px;
    line-height: 129%;

    letter-spacing: -0.02em;

    color: var(--sidebar-background-color);
  }

  .button:hover {
    background: var(--log-btn-hover);
  }
  .button_google {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border-style: none;
    margin-top: 10px;

    width: 100%;
    height: 46px;

    background-color: var(--sidebar-background-color);
    box-shadow: 4px 2px 16px rgba(136, 165, 191, 0.48);
    border-radius: 16px;
    border: 1px solid var(--button-color-hover);

    font-weight: 600;
    font-size: 14px;
    line-height: 129%;

    letter-spacing: -0.02em;

    color: var(--primary-text-color);
  }

  .button_google:hover,
  .button_google:focus {
    color: var(--sidebar-background-color);
    background-color: var(--button-color-hover);
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .logIn {
    width: 20px;
    height: 20px;
  }

  .sign {
    margin-top: 28px;
    display: block;
    font-weight: 600;
    color: var(--nav-button-color-hover);
    font-size: 14px;
    line-height: 129%;
    text-align: center;

    /* top: 750px; */
    text-decoration: underline;
  }
  .iconOk {
    position: absolute;
    left: 80%;
    top: 36px;
    z-index: 10;
    fill: green;
  }

  .iconError {
    position: absolute;
    left: 80%;
    top: 36px;
    z-index: 10;
    fill: #da1414;
  }
}

@media (min-width: 768px) {
  .error_message {
    position: absolute;

    font-size: 12px;
    line-height: 14px;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    color: #da1414;
    top: 72px;
    left: 26px;
    z-index: 10;
  }

  .success_message {
    position: absolute;

    font-size: 12px;
    line-height: 14px;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    color: green;
    top: 72px;
    left: 26px;
    z-index: 10;
  }
  .main_container {
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: var(--toggle-button-color);
    justify-content: center;
    align-items: center;
  }

  .inside_container {
  background: #FFFFFF;
    border-radius: 8px;
    width: 480px;
    height: 424px;
    padding: 0 40px;
    margin: 0 144px;
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 18px;
    align-items: center;
  }

  .title {
    margin-top: 40px;
    margin-bottom: 40px;

    color: var(--nav-button-color-hover);
    text-shadow: 0px 9.399999618530273px 57.6875px 0px rgba(0, 0, 0, 0.04),
      0px 47px 355px 0px rgba(0, 0, 0, 0.07);
    font-size: 24px;

    font-weight: 600;
    line-height: 24px;
  }

  .email_box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    isolation: isolate;
    margin-bottom: 24px;
  }

  .password_box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    isolation: isolate;
  }

  .label_email {
    width: 32px;
    height: 15px;

    font-weight: 600;
    font-size: 14px;
    line-height: 17px;

    color: var(--log-text-color);
  }

  .label_email.error_label {
    color: #da1414;
  }

  .label_email.success_label {
    color: green;
  }

  .field {
    box-sizing: border-box;

    width: 400px;
    height: 46px;

    background-color: var(--sidebar-background-color);
    border: 1px solid rgba(220, 227, 229, 0.6);
    border-radius: 8px;

    flex: none;
    order: 1;
    flex-grow: 0;
    z-index: 1;

    font-size: 14px;
    line-height: 129%;

    color: var(--primary-text-color);

    padding-left: 14px;

    outline-color: black;
  }

  .field.error {
    border: 1px solid #da1414;
  }

  .field.success {
    border: 1px solid green;
  }

  .button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border-style: none;
    /* margin-top: 32px; */

    width: 400px;
    height: 46px;

    background: var(--log-btn-color);
    box-shadow: 4px 2px 16px rgba(136, 165, 191, 0.48);
    border-radius: 16px;

    font-weight: 600;
    font-size: 14px;
    line-height: 129%;

    letter-spacing: -0.02em;

    color: var(--sidebar-background-color);

    transition: background-color var(--animation-cubic);
  }
  .button:hover {
    background-color: var(--button-color-hover);
  }
  .button_google {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border-style: none;

    width: 100%;
    height: 46px;

    background-color: var(--sidebar-background-color);
    box-shadow: 4px 2px 16px rgba(136, 165, 191, 0.48);
    border-radius: 16px;
    border: 1px solid var(--button-color-hover);

    font-weight: 600;
    font-size: 14px;
    line-height: 129%;

    letter-spacing: -0.02em;

    color: var(--primary-text-color);
  }

  .button_google:hover,
  .button_google:focus {
    color: var(--sidebar-background-color);
    background-color: var(--button-color-hover);
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .logIn {
    width: 20px;
    height: 20px;
  }

  .sign {
    /* position: absolute; */
    font-weight: 600;
    color: var(--nav-button-color-hover);
    font-size: 14px;
    line-height: 129%;

    top: 740px;
    text-decoration: underline;
  }

  .iconError {
    position: absolute;
    left: 80%;
    top: 36px;
    z-index: 10;
    fill: #da1414;
  }

  .iconOk {
    position: absolute;
    left: 80%;
    top: 36px;
    z-index: 10;
    fill: green;
  }
}

@media (min-width: 1440px) {
  .error_message {
    position: absolute;

    font-size: 12px;
    line-height: 14px;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    color: #da1414;
    top: 72px;
    left: 26px;
    z-index: 10;
  }
  .main_container {
    display: flex;
    width: 100%;
    height: 964px;
    background-color: var(--toggle-button-color);

    background-image: url(../../images/elements.png);
    background-repeat: no-repeat;
    background-position: 96% 67%;

    justify-content: center;
    align-items: center;
  }

  .inside_container {
    background: #FFFFFF;
    border-radius: 8px;
    width: 480px;
    height: 424px;
    padding: 0 40px;
    margin: 0 144px;
  }

  .title {
    margin-top: 40px;

    margin-bottom: 40px;

    font-weight: 600;
    font-size: 24px;

    line-height: 100%;

    color: var(--log-title-color);

    text-shadow: 0px 47px 355px rgba(0, 0, 0, 0.07),
      0px 9.4px 57.6875px rgba(0, 0, 0, 0.035);
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 18px;
    align-items: center;
  }

  .email_box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    isolation: isolate;
    margin-bottom: 24px;
  }

  .password_box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    isolation: isolate;
  }

  .label_email {
    width: 32px;
    height: 15px;

    font-weight: 600;
    font-size: 14px;
    line-height: 17px;

    color: var(--log-text-color);
  }
  .label_email.error_label {
    color: #da1414;
  }

  .label_email.success_label {
    color: green;
  }

  .field {
    box-sizing: border-box;

    width: 400px;
    height: 46px;

    
    border: 1px solid rgba(220, 227, 229, 0.6);
    border-radius: 8px;

    flex: none;
    order: 1;
    flex-grow: 0;
    z-index: 1;

    font-size: 14px;
    line-height: 129%;

    color: var(--primary-text-color);

    padding-left: 14px;

    outline-color: black;
  }

  .field.error {
    border: 1px solid #da1414;
  }

  .field.success {
    border: 1px solid green;
  }

  .button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border-style: none;
    /* margin-top: 32px; */

    width: 400px;
    height: 46px;

    background: var(--log-btn-color);
    box-shadow: 4px 2px 16px rgba(136, 165, 191, 0.48);
    border-radius: 16px;

    font-weight: 600;
    font-size: 18px;
    line-height: 24px;

    letter-spacing: -0.02em;

    color: var(--sidebar-background-color);
  }
  .button:hover {
    background: var(--button-color-hover);
  }
  .logIn {
    width: 20px;
    height: 20px;
  }
  .sign {
    /* position: absolute; */
    font-weight: 600;
    color: var(--log-title-color);

    font-size: 18px;
    line-height: 24px;

    top: 740px;
    text-decoration: underline;
  }
  .iconOk {
    position: absolute;
    left: 80%;
    top: 36px;
    z-index: 10;
    fill: green;
  }

  .iconError {
    position: absolute;
    left: 80%;
    top: 36px;
    z-index: 10;
    fill: #da1414;
  }
}

@media (min-width: 1680px) {
  .error_message {
    position: absolute;

    font-size: 12px;
    line-height: 14px;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    color: #da1414;
    top: 72px;
    left: 26px;
    z-index: 10;
  }
  .main_container {
    display: flex;
    width: 100%;
    height: 964px;
    background-color: var(--toggle-button-color);

    background-image: url(../../images/elements.png);
    background-repeat: no-repeat;
    background-position: 88% 70%;

    justify-content: center;
    align-items: center;
  }
}
