.monthContainer {
  width: 100%;
  /* height: 100%; */
  /* 
    @media screen and (min-width: ${({ theme }) => theme.breakpoints.s}) {
        width: 335px;
        height: 535px;
    }

    @media screen and (min-width: ${({ theme }) => theme.breakpoints.m}) {
        width: 704px;
        height: 785px;
    }

    @media screen and (min-width: ${({ theme }) => theme.breakpoints.l}) {
        width: 1084px;
        height: 686px;
    } */
}
