
.header {
   display: flex;
  align-items: center;
  height: 115px;
  width: 100%;
  padding: 24px 20px;
  background: #f7f6f9;
}
.headerInfoBox {
  display: block;
  display: flex;
  align-items: center;
  background: #F7F6F9
}

.conteinerBtn{
  display: flex;


}
@media (min-width: 768px) {
  .header {
    padding: 25px 32px;
  }
}
@media (max-width: 1439px) {
  .logoConteiner {
    display: none;
  }
}
@media (min-width: 1440px) {
  .header {
    padding: 32px 32px 32px 0;
  }
  .logoConteiner {
    padding: 32px 24px;
    border-right: 1px solid rgba(220, 227, 229, 0.5);
    background: #fff;
    height: 115px;
    width: 290px;
  }
  .logoBox {
    display: flex;
    align-items: center;
  }
  .headerInfoBox {
    padding: 0 32px; 
}}

@media (max-width: 1439px) {
  .infoTitle {
    display: none;
  }
}

.burgerMenu {
  background-color: transparent;
  padding: 5px;
  cursor: pointer;
  border: none;
  margin-right: 80px;
}

@media (min-width: 768px) {
  .burgerMenu {
    margin-right: 355px;
  }
}



@media (min-width: 1440px) {
  .infoTitle {
    color: #111;
    font-size: 32px;
    font-family: 'Inter';
    font-weight: 700;
    line-height: 32px;
   
  }
  .conteinerBtn{
    margin-left: 500px;
  }
  
}



.feedbackBtn {
  border-style: none;
  background: #3e85f3;
  box-shadow: 4px 2px 16px rgba(136, 165, 191, 0.48);
  border-radius: 10px;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.02em;
  color: #fff;
  text-align: center;

  padding: 8px 20px;
  cursor: pointer;
  margin-right: 24px;
}

.infoMenu {
  display: flex;
  justify-items: center;
  align-items: center;
  background: #f7f6f9;
  gap: 8px;
  margin-left: auto;
}



.imgBox {
  height: 44px;
  width: 44px;
  border: 1.8px solid #3e85f3;
  border-radius: 50%;
}
.userName {
  color: #343434;
  font-size: 14px;
  font-family: 'Inter';
  font-weight: 700;
  line-height: 18px;
}



@media (min-width: 1440px) {
  .burgerMenu {
    display: none;
    margin: 0;
  }

  .feedbackBtn {
    font-size: 14px;
    padding: 12px 32px;
    border-radius: 16px;
  }
  .userName {
    font-size: 18px;
    line-height: 18px;
  }

  .infoMenu {
    gap: 14px;
  }
}

.themeBtn {
  border: none;
  background-color: transparent;
  padding: 10px;
  cursor: pointer;
}

.imgBox {
  overflow: hidden;
}
