.userName {
	color: var(--secondary-text-color);
	font-size: 14px;
	font-family: var(--button-font);
	font-weight: 700;
	line-height: 18px;
}

.avatarWord {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	background-color: #3e85f3;
	font-family: var(--button-font);
	font-weight: 700;
	overflow: hidden;
	margin-top: 0;
	margin-bottom: 0;
	border: 1.8px solid var(--nav-button-color-hover);
	border-radius: 50%;
	width: 32px;
	height: 32px;

}

.avatar {
	width:32px; 
	height:32px;
	border-radius: 50px;
	border: 1.8px solid var(--nav-button-color-hover);
}
.UserInfoSection {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
	
}

@media screen and (min-width: 767px) {
	.UserInfoSection {
		gap: 14px;
	}

	.avatarWord {
		width: 44px;
		height: 44px;
		font-size: 18px;
		
	}
		.avatar {
			width: 44px;
			height: 44px;
		}

}

@media screen and (min-width: 1440px) {


	.userName {
		font-size: 18px;
		line-height: 18px;
	}

}