.conteinerSideBar {
  width: 225px;
  /* height: 1050px; */
  
  /* outline: 1px solid red; */
  background-color: var(--sidebar-background-color);
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  padding: 24px 20px;
}

.containerSideBarSt{
    width: 225px;
      background-color: var(--sidebar-background-color);
      display: flex;
      flex-direction: column;
      padding: 24px 20px;
}

.logoBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 767px) {
  .logoImg {
    width: 36px;
  }
  .logoTitle {
    font-size: 16px;
    line-height: 22px;
    margin-right: 36px;
  }
}

@media (min-width: 768px) {
  .conteinerSideBar {
    width: 290px;
   height: 950px;
  }
  .containerSideBarSt {
    width: 290px;
      height: 850px;
  }
  .logoImg {
    width: 60px;
  }
  .logoTitle {
    font-size: 18px;
    line-height: 24px;
  }
  .logoBox {
    gap: 6px;
  }
}
@media (max-width: 1439px) {
  .conteinerSideBar {
    transform: translateX(-130%);
    transition: transform 500ms linear;
    position: absolute;
    z-index: 10;
    top: 0;
    height: 1090px;
    &.open {
            transform: translateX(0);
            position: absolute;
            top: 0;
            z-index: 10;
            height: 1090px;
        
          }
        }
  

 .containerSideBarSt {
      transform: translateX(-130%);
        transition: transform 500ms linear;
        position: absolute;
        top: 0; 
        
      &.open {
    transform: translateX(0);
    position: absolute;
    top: 0;
    z-index: 10;
    height: 990px;}
    }
 
  }


@media (min-width: 1440px) {
  .logoImg {
    width: 71px;
  }
  .logoTitle {
    font-size: 24px;
    line-height: 24px;
  }
  .logoBox {
    display: none;
  }

  /* .conteinerSideBar {
    width: 290px;
    height: 785px;
  } */
}

.logoTitle {
  color: #3e85f3;
  text-shadow: 0px 9.399999618530273px 57.6875px 0px rgba(0, 0, 0, 0.04),
    0px 47px 355px 0px rgba(0, 0, 0, 0.07);
  font-size: 16px;
  font-family: 'Coolvetica';
  line-height: 22px;
}

.titleNav {
  margin-top: 64px;
  color: rgba(52, 52, 52, 0.5);
  font-size: 12px;
  font-family: 'Inter';
  font-weight: 600;
  margin-bottom: 24px;
}
@media (min-width: 1440px) {
  .titleNav {
    margin-top: 0;
  }
}

.btnClose {
  padding: 5px;
  background-color: var(--sidebar-background-color);
  border-color: transparent;
  cursor: pointer;
  color: transparent;
}
