.add_btn {
  width: 88%;
  height: 52px;
  margin: 16px 163px 16px 20px;

  border-radius: 8px;
  border: 1px dashed var(--nav-button-color-hover);
  background: var(--button-period-type);

  margin: 32px 20px 28px 20px;
  transition: background-color var(--animation-cubic);
}

.add_btn:hover {
  background-color: var(--nav-button-color-hover);
}
