.add_btn {
  width: 88%;
  height: 52px;
  margin: 16px 163px 16px 20px;

  border-radius: 8px;
  border: 1px dashed var(--active-button-period-type);
  background: var(--nav-button-background-hover);

  margin: 32px 20px 28px 20px;
  transition: background-color var(--animation-cubic);
  color: var(--primary-text-color);
}

.add_btn:hover {
  box-shadow: rgba(166, 166, 166, 0.24) 0px 3px 8px;
}
