/* Wrapper */
.Wrapper {
  background-color: #fff;
}


/* ReviewsContainer */
.ReviewsContainer {
  position: relative;
  max-width: 335px;
  min-height: 324px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 64px;
  font-family: #343434;
  background-color: #FFFFFF;
}

  @media screen and (min-width: 768px) {
  .ReviewsContainer {
  width: 704px;
  max-width: 704px;
  min-height: 360px;
  padding-bottom: 100px;
  }}

    @media screen and (min-width: 1440px) {
    .ReviewsContainer {
    width: 1184px;
    max-width: 1184px;
    min-height: 374px;
    padding-bottom: 118px;
    }

  /* h2 */
  h2 {
  font-size: 28px;
  line-height: 1.14;
  text-align: center;
  margin-top: 0;
  margin-bottom: 40px;
  color: #3E85F3;
  }

    @media screen and (min-width: 768px) {
    h2 {
    font-size: 40px;
    line-height: 44px;
    margin-bottom: 50px;
    }}

& .slider {
height: fit-content;
}

& .slick-track {
display: flex;
}

& .slick-list {
overflow: hidden;
}

& .slick-arrow {
position: absolute;
bottom: 64px;
}

  @media screen and (min-width: 768px) {
  & .slick-arrow {
  bottom: 100px;
  }}

    @media screen and (min-width: 1440px) {
    & .slick-arrow {
    bottom: 118px;
    }}

  /* Svg-Arrow */
  & .svgarrow {
  width: 39px;
  height: 50px;
  cursor: pointer;
  fill: black;
  }
    .svgarrow {
    &:hover,
    &:focus {
    fill: #111111;
    }}

    @media screen and (min-width: 768px) {
    .svg.svgarrow {
    &:hover,
    &:focus {
    width: 47px;
    height: 61px;
    }}

  & .slick-arrow.slick-prev {
    left: calc(50% + 15px);
  }

  & .slick-arrow.slick-next {
    right: calc(50% + 15px);
  }
}}


/* ArrowContainer */
.ArrowContainer {
  margin-top: 8px;
  height: 50px;
}
  @media screen and (min-width: 768px) {
    .ArrowContainer {
    margin-top: 18px;
    height: 61px;
  }}

  @media screen and (min-width: 1440px) {
    .ArrowContainer {
    margin-top: 32px;
  }
}