.LogOutBtn {
  border-style: none;
  background: #3e85f3;
  box-shadow: 4px 2px 16px rgba(136, 165, 191, 0.48);
  border-radius: 16px;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: -0.02em;
  color: #fff;

  display: flex;
  align-items: center;
  padding: 14px 29px;
  gap: 6px;
  cursor: pointer;
}
