.conteinerMainLayout {

  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100vh;
  /* outline: 1px solid red; */
  background: var(--primary-background-color);
  /* width: 335px; */
  /* outline: 1px solid red; */
/*   background: var(--secondary-background-color);
  padding: 0 15px; */
}

@media screen and (min-width: 1158px) {
  .conteinerMainLayout {

    width: 100%;
    height: 100vh
  }

}
.main {
  background-color: var(--primary-background-color);
  padding: 40px 20px ;
}

.mainComponent {
  background-color: #fff;
  border-radius: 16px;
}


@media (min-width: 1440px) {
  .conteinerMainLayout {
    width: 1440px;
  }
}

.main {
  display: flex;
  background-color: var(--primary-background-color);
/*   display: block; */

}

@media (min-width: 375px) {
  .mainComponent {
    width: 375px;
    height: 844px;
  }
}

@media (min-width: 768px) {
  .mainComponent {
    border-radius: 16px;
    width: 704px;
    height: 854px;
  }

  .main {
    display: flex;
  }

    .conteinerMainLayout {

      background: var(--primary-background-color);
    }
}


@media (min-width: 1440px) {
  .mainComponent {
    width: 1087px;
    height: 752px;
  }

  .aside {
    float: left;
    width: 20%;
  }
  .main {
    float: right;
    width: 80%;
    padding: 0 32px 32px 32px;
  }
}
@media (max-width: 1439px) {
 .backDrop{ 
  width: 100%;
height:100%;
position: fixed;
z-index: 1;
top: 0;
left: 0;

backdrop-filter: blur(2px);
background-color: rgba(35, 100, 138, 0.349);

}}

