.conteinerMainLayout {

  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100vh;
  outline: 1px solid red;
}

/* 
@media (min-width: 768px) {
  .conteinerMainLayout {
    padding: 24px 32px;
       
  }
}
@media (min-width: 1440px) {
  .conteinerMainLayout {
       padding: 24px 40px;
  }
} */

.main {
  display: flex;
}



@media (min-width: 375px) {
  .component {
    width: 375px;
  }
}
@media (min-width: 768px) {
  .component {
    width: 768px;
  }
}
@media (min-width: 1440px) {
  .component {
    width: 1150px;
  }
}
