.conteinerMainLayout {

  /* width: 335px; */
  /* outline: 1px solid red; */
  background: var(--secondary-background-color);
  padding: 0 15px;
}

@media screen and (min-width: 1158px) {
  .conteinerMainLayout {

    width: 100%;
    height: 100vh
  }


}

/* 
@media (min-width: 768px) {
  .conteinerMainLayout {
    padding: 24px 32px;
       
  }
}
@media (min-width: 1440px) {
  .conteinerMainLayout {
       padding: 24px 40px;
  }
} */

.main {
  display: block;
}

@media (min-width: 375px) {
  .component {
    width: 375px;
  }
}

@media (min-width: 768px) {
  .component {
    width: 768px;
  }

  .main {
    display: flex;
  }

    .conteinerMainLayout {

      background: var(--primary-background-color);
    }
}


@media (min-width: 1440px) {
  .component {
    width: 1150px;
  }
}